body {
	font-family: Lucida Grande, Arial;
	font-size: 11pt;
	padding: 5px;
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

#label {
	flex-shrink: 0;
	margin-bottom: 2pt;
}

#item-selector {
	flex: 1;
	overflow: auto;
	padding: 2pt 1.5pt;
	border: 1pt solid black;
	margin-bottom: 10pt;
}

#buttons {
	flex-shrink: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#item-selector input {
	vertical-align: middle;
	margin: 0 2.5pt 2pt 0;
}

.item {
	font-size: 9pt;
	white-space: nowrap;
	min-height: 14pt;
	cursor: default;
}

.item.filtered-out {
	color: #999;
}

#select-deselect {
	display: flex;
	align-items: center;
	gap: 5px;
}

#cancel-ok {
	display: flex;
	align-items: center;
	gap: 5px;
}
