body {
	font-family: Lucida Grande, Arial;
	font-size: 11pt;
}

#label {
	position: absolute;
	top: 2pt;
	left: 2pt;
	right: 2pt;
	height: 20.5pt;
}

#item-selector {
	position: absolute;
	top: 20.5pt;
	left: 2pt;
	right: 2pt;
	bottom: 32pt;
	overflow: auto;
	padding: 2pt 1.5pt;
	border: 1pt solid black;
}

#buttons {
	position: absolute;
	bottom: 7pt;
	left: 2pt;
	right: 2pt;
}

#item-selector input {
	vertical-align: middle;
	margin: 0 2.5pt 2pt 0;
}

.item {
	font-size: 9pt;
	white-space: nowrap;
	min-height: 14pt;
	cursor: default;
}

#select-deselect {
	text-align: left;
	float: left;
}

#cancel-ok {
	text-align: right;
}