/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.tree {
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  white-space: nowrap;
  outline: none;
  user-select: none;
}

.tree button {
  display: block;
}

.tree .tree-node {
  display: flex;
  padding-top: 2px;
  padding-left: 7px;
  padding-bottom: 2px;
}

.tree-indent {
  display: inline-block;
  width: 12px;
  margin-left: 5px;
  /*border-left: 1px solid #A2D1FF;*/
  flex-shrink: 0;
}

.tree-indent:first-of-type {
  width: 6px;
}

/* Align with expandables siblings (where we have the arrow) */
.tree-node[data-expandable="false"] .tree-indent:last-of-type {
  margin-right: 15px;
}

/* For non expandable root nodes, we don't have .tree-indent elements, so we declare
   the margin on the start of the node */
.tree-node[data-expandable="false"][aria-level="0"] {
  padding-left: 5px
}

.tree .tree-node[data-expandable="true"] {
  cursor: default;
}

.tree .tree-node:not(.focused):hover {
  background-color: #F0F9FE;
}

.tree .tree-node.focused {
  color: white;
  background-color: var(--theme-selection-background, #0a84ff);
}

.tree-node.focused .arrow svg {
  fill: currentColor;
}

.arrow {
}

.arrow svg {
  fill: var(--theme-splitter-color, #9B9B9B);
  transition: transform 0.125s ease;
  width: 10px;
  margin-right: 5px;
  transform: rotate(-90deg);
  vertical-align: middle;
  margin-top: -3px;
}

html[dir="rtl"] .arrow svg,
.arrow svg:dir(rtl),
.arrow svg:-moz-locale-dir(rtl) {
  transform: rotate(90deg);
}

.arrow.expanded.expanded svg {
  transform: rotate(0deg);
}

.tree-item-label {
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-left: 4px;
}
