<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Center for History and New Media</string>
	<key>Builder Version</key>
	<string>7534.48.3</string>
	<key>CFBundleDisplayName</key>
	<string>Zotero Connector for Safari</string>
	<key>CFBundleIdentifier</key>
	<string>org.zotero.zoteroconnectorforsafari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0a2</string>
	<key>CFBundleVersion</key>
	<string>0.9.2</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>zotero-saveSnapshot</string>
				<key>Identifier</key>
				<string>zotero-saveSnapshot</string>
				<key>Title</key>
				<string>Save Zotero Snapshot from Current Page</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>zotero-preferences</string>
				<key>Identifier</key>
				<string>zotero-preferences</string>
				<key>Title</key>
				<string>Zotero Preferences...</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>zotero-translate</string>
				<key>Identifier</key>
				<string>zotero-translate</string>
				<key>Image</key>
				<string>images/toolbar/zotero-z-16px.png</string>
				<key>Label</key>
				<string>Save to Zotero</string>
				<key>Palette Label</key>
				<string>Zotero</string>
				<key>Tool Tip</key>
				<string>Save to Zotero</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>zotero.js</string>
				<string>zotero/cachedTypes.js</string>
				<string>zotero/date.js</string>
				<string>zotero/debug.js</string>
				<string>zotero/inject/http.js</string>
				<string>zotero/inject/progressWindow.js</string>
				<string>zotero/inject/translator.js</string>
				<string>zotero/openurl.js</string>
				<string>zotero/rdf/uri.js</string>
				<string>zotero/rdf/term.js</string>
				<string>zotero/rdf/identity.js</string>
				<string>zotero/rdf/match.js</string>
				<string>zotero/rdf/rdfparser.js</string>
				<string>zotero/rdf.js</string>
				<string>zotero/translate.js</string>
				<string>zotero/translate_item.js</string>
				<string>zotero/inject/translate_inject.js</string>
				<string>zotero/utilities.js</string>
				<string>zotero/messages.js</string>
				<string>messaging_inject.js</string>
				<string>zotero/inject/inject.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Saves references to Zotero from Safari</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://www.zotero.org/download/everywhere/safari/update.plist</string>
	<key>Website</key>
	<string>http://www.zotero.org/</string>
</dict>
</plist>
