html {
	overflow: hidden;
}

body {
	font-family: Lucida Grande, Tahoma, sans;
}

button {
	border: 1px solid darkgray;
}

button:active {
	background-color: #d5d5d5;
}

.ProgressWindow-box {
	width: 300px;
	border-color: #adadad #9a9a9a #ababab;
	border-width: 1px;
	border-style: solid;
	background-color: #ededed;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 20px -2px;
	margin-left: 4px;
	padding: 6px 10px 6px;
	min-height: 40px;
	overflow: hidden;
	position: relative
}

.ProgressWindow-headline {
	font-family: Lucida Grande, Tahoma, sans;
	font-size: 13px;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 7px;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: flex;
	align-items: center;
	user-select: none
}

.ProgressWindow-headlineSelectContainer {
	display: flex;
	align-items: center;
	margin-left: 5px;
	flex-grow: 1
}

.ProgressWindow-headlineSelect {
	max-width: 200px;
	height: 22px;
	font-size: 12px;
	flex-grow: 1
}

.ProgressWindow-targetIcon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 4px;
	margin-right: 3px;
	vertical-align: -3px;
}

.ProgressWindow-disclosure {
	border-radius: 3px;
	margin-left: 6px;
	background: url('disclosure-closed.svg') no-repeat center/40% transparent;
	width: 26px;
	font-size: 20px;
	height: 20px;
	line-height: 17px;
	cursor: default;
	user-select: none
}

.ProgressWindow-disclosure.is-open {
	background-image: url('disclosure-open.svg');
}

.ProgressWindow-inputRow {
	display: flex;
	margin-top: 6px;
}

.ProgressWindow-tagsRow {
	font-size: 12px;
}

.ProgressWindow-tagsLabel {
	margin-top: 3px;
	margin-right: 6px;
	font-weight: bold;
	user-select: none;
}

.ProgressWindow-tagsInput {
	flex-grow: 1;
	margin-right: 8px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
}

.ProgressWindow-button {
	background-color: white;
	padding: 3px 24px;
	border-radius: 4px;
	font-size: 11px;
}

.ProgressWindow-targetSelector {
	height: 218px;
	overflow-y: scroll;
	background: white;
	border: 1px solid lightgray;
	padding-bottom: 2px
}

.ProgressWindow-progressBox {
	margin-top: 10px;
	margin-bottom: 4px
}

.ProgressWindow-item {
	font-size: 11px;
	margin-top: 8px;
	margin-bottom: 4px
}

.ProgressWindow-itemIcon {
	position: absolute;
	width: 16px;
	height: 16px;
	background-size: contain;
	background-position: 0;
	background-repeat: no-repeat
}

.ProgressWindow-itemText {
	font-family: Lucida Grande, Tahoma, sans;
	font-size: 12px;
	vertical-align: middle;
	line-height: 16px;
	margin: 0 0 0 22px;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis
}

.ProgressWindow-error {
	font-size: 11px;
	line-height: 1.4em;
	margin-bottom: 4px;
}

