body {
	/* Match tree.css */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	--color-background: #FFFFFF;
	--color-sidepane: #F2F2F2;
	--color-button: #FFFFFF;

	--fill-primary: #000000d9;
	--fill-tertiary: #00000040;
	--fill-quarternary: #0000001a;
	--fill-quinary: #0000000d;

	--accent-blue: #4072e5;
	--accent-blue50: #4072e580;
	--accent-red: #DB2C3A;

	--color-accent: SelectedItem;
	--color-focus-border: color-mix(in srgb, var(--color-accent) 70%, transparent);
}

@media (prefers-color-scheme: dark) {
    body {
		--color-background: #1e1e1e;
        --color-sidepane: #303030;
		--color-button: #404040;

		--fill-primary: #ffffffe5;
		--fill-tertiary: #ffffff4d;
		--fill-quarternary: #ffffff1f;
		--fill-quinary: #ffffff0f;

		--accent-red: #db2c3ae5;
		--accent-blue50: #4072e599;
    }
}

*:focus-visible {
    outline: 2px solid var(--color-focus-border, var(--accent-blue50));
}

.ProgressWindow-box {
	width: 360px;
	max-width: 92%;
	border-radius: 5px;
	border: none;
	background-color: var(--color-sidepane);
	box-shadow: 0px 0px 3px 0px #0000008C, 0px 6px 10px 0px #00000040;
	margin-left: 4px;
	padding: 6px 10px 6px;
	min-height: 40px;
	overflow: hidden;
	
	/* Make progress box scrollable if there are too many items */
	display: flex;
	flex-direction: column;
	overflow-y: auto;

	/* Prevent the popup from becoming scrollable unless we zoom in */
	max-height: 95vh;

	/* scrollbar should be never visible (macOS) */
	scrollbar-width: none;

	color: var(--fill-primary);
}

/* Hack to check whether the mouse is over the pane when switching back from another tab.
   We use a property that has no effect and check its computed state in handleVisibilityChange(). */
.ProgressWindow-box:hover {
	background-size: cover;
}

.ProgressWindow-headline {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 13px;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 8px;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: flex;
	align-items: center;
	user-select: none
}

.ProgressWindow-headlineSelect {
	margin-left: 5px;
	height: 22px;
	font-size: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: white;
	border-radius: 5px;
	border: 1px solid var(--fill-quarternary);
	background-color: var(--color-background);
	color: inherit;
}

.ProgressWindow-targetIcon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 4px;
	margin-right: 3px;
	vertical-align: -3px;
	fill: currentColor;
}

.ProgressWindow-targetIcon.library,
.ProgressWindow-targetIcon.collection{
	color: #4072E5;
}
.ProgressWindow-targetIcon.group {
	color: #59ADC4;
}

.ProgressWindow-inputRow {
	display: flex;
	flex-direction: row;
}

.ProgressWindow-targetSelectorTagsRow {
	margin-bottom: 4px;
}

.ProgressWindow-autocomplete {
	position: absolute;
	background-color: var(--color-background);
	border: 1px solid var(--fill-quinary);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	max-height: 100px;
	overflow-y: auto;
	width: 225px;
	margin-top: 29px;
}

.ProgressWindow-autocompleteOption {
	font-size: 12px;
	height: 20px;
	cursor: default;
	user-select: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	align-items: center;
	padding-inline-start: 5px;
	color: inherit;
	border-radius: 5px;
}
.ProgressWindow-autocompleteOption.active {
	background-color: var(--accent-blue);
	color: white;
}

.ProgressWindow-tagsRow {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	margin-bottom: 6px;
	flex-direction: row;
	max-height: 200px;
	overflow-y: auto;
	padding: 1px; /* Ensures the focus ring is visible on selected tags */
}
.ProgressWindow-tagsRow:focus-visible {
	outline: none;
}

.ProgressWindow-selectedTag {
	display: flex;
 	align-items: center;
	background-color: var(--fill-quinary);
	border-radius: 5px;
	font-size: 12px;
	padding: 2px 3px 2px 4px;
	white-space: nowrap;
}
/* show outline on the X button when a tag is active, since Space on it will remove the tag */
.ProgressWindow-tagsRow:focus-visible .ProgressWindow-selectedTag.active .ProgressWindow-removeTag {
	outline: 1px solid #0a84ff;
}

.ProgressWindow-tagLabel {
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	user-select: none;
}

.ProgressWindow-removeTag {
	width: 12px;
	height: 12px;
	background: url('x-6.svg') no-repeat center;
	border-radius: 5px;
	margin-left: 2px;
}
.ProgressWindow-removeTag:hover {
	background-color: var(--fill-tertiary);
	cursor: pointer;
}

.ProgressWindow-tagsInput {
	flex-grow: 1;
	font-size: 13px;
	background-color: var(--color-background);
}

.ProgressWindow-noteEditor {
	width: 100%;
	resize: none;
	max-height: 6em; /* expand up to 5 lines of text */
	height: 38px; /* initial height that may increase as user types */
	font-family: inherit;
	font-size: 13px;
	background-color: var(--color-background);
}

.ProgressWindow-noteEditorRow {
	margin-bottom: 8px;
	display: flex;
}

.ProgressWindow-button {
	background-color: white;
	height: 22px;
	border-radius: 5px;
	font-size: 13px;
	border: none;
	box-shadow: 0px 0px 0px 0.5px #0000000D, 0px 0.5px 2.5px 0px #0000004D;
	background-color: var(--color-background);
}

.ProgressWindow-button.done {
	width: 70px;
	margin-inline-start: 5px;
	color: white;
	background-color: var(--accent-blue);
	padding-bottom: 2px; /* align the "Done" label a bit better with "Cancel" button */
}

.ProgressWindow-button.cancel {
	/* center trash svg */
	display: flex;
	justify-content: center;
	align-items: center;

	padding-inline: 3px;
	color: red;
	margin-inline-start: 10px;
	fill: currentColor;
	color: var(--accent-red);
	background-color: var(--color-button);
}

.ProgressWindow-button.cancel.hidden {
	visibility: hidden;
}

.ProgressWindow-button.disclosure {
	min-width: 22px;
	margin-inline-start: auto;
	fill: currentColor;
	color: var(--fill-primary);
	background-color: var(--color-button);
}

/* chevron that flips up or down on each click */
.ProgressWindow-button.disclosure > svg {
	transition: transform .2s ease-in-out;
	transform-origin: center;
}

.ProgressWindow-button.disclosure.is-open > svg {
	transform: rotate(-180deg);
}

.ProgressWindow-button.cancel:active,
.ProgressWindow-button.disclosure:active {
	background-color: var(--fill-quarternary) !important;
}

.ProgressWindow-button.done:active {
	background-color: #234aa5;
}

.ProgressWindow-filterWrapper {
	display: flex;
	margin-bottom: 8px;
}
.ProgressWindow-filterInput {
	width: 100%;
	box-sizing: border-box;
	padding: 3px 20px 3px 6px;
	font-size: 13px;
	background-color: var(--color-background);
}


input, textarea {
	padding: 3px 6px;
	border: 1px solid var(--fill-quarternary);
	border-radius: 5px;
	color: inherit;
}
input::placeholder, textarea::placeholder {
	color: var(--fill-tertiary);
}

.ProgressWindow-cross {
	width: 16px;
	height: 16px;
	background: url('searchfield-cancel.svg') no-repeat center;
	margin-left: -20px;
	align-self: center;
	border: none;
}
.ProgressWindow-cross.hidden {
	display: none;
}

.ProgressWindow-targetSelector {
	height: 218px;
	overflow-y: scroll;
	padding: 8px;
	border: 1px solid var(--fill-quarternary);
	margin-bottom: 8px;
	background-color: var(--color-background);
}

.ProgressWindow-targetSelector .context-row .tree-item-label {
	opacity: 0.6;
}

.ProgressWindow-progressBox {
	flex-grow: 1;
}

/* Make sure that if we zoom-in very closely, the progress-box is not completely shrunk */
.ProgressWindow-progressBox:not(:empty) {
	min-height: 40px;
}

.ProgressWindow-progressBox-separator {
	border-top: 1px solid var(--fill-quarternary);
	margin-inline: -10px;
	margin-bottom: 12px;
	margin-top: 8px;
}

.ProgressWindow-item {
	font-size: 11px;
	display: flex;
	height: 16px;
}

/* default margin between top-level items (first one is skipped as there's margin between sections) */
.ProgressWindow-item:not(:first-child) {
	margin-top: 8px;
	min-height: 16px;
	display: flex;
	align-items: center;
}

.ProgressWindow-itemIcon {
	width: 16px;
	height: 16px;
	background-size: contain;
	background-position: 0;
	background-repeat: no-repeat;
	flex-shrink: 0;
}

.ProgressWindow-itemText {
	flex: 1;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 13px;
	margin: 0 0 0 6px;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis
}

.ProgressWindow-error {
	color: inherit;
	font-size: 13px;
	line-height: 1.4em;
	margin-bottom: 4px;
}


/* ---------------------- tree.css -------------------------- */

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.tree {
	overflow: hidden;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 13px;
	white-space: nowrap;
	outline: none;
	user-select: none;
}

.tree button {
	display: block;
}

.tree .tree-node {
	display: flex;
	padding-top: 2px;
	padding-left: 7px;
	padding-bottom: 2px;
	border-radius: 5px;
}

.tree-indent {
	display: inline-block;
	width: 12px;
	margin-left: 5px;
	/*border-left: 1px solid #A2D1FF;*/
	flex-shrink: 0;
}

.tree-indent:first-of-type {
	width: 6px;
}

/* Align with expandables siblings (where we have the arrow) */
.tree-node[data-expandable="false"] .tree-indent:last-of-type {
	margin-right: 15px;
}

/* For non expandable root nodes, we don't have .tree-indent elements, so we declare
   the margin on the start of the node */
.tree-node[data-expandable="false"][aria-level="0"] {
	padding-left: 22px
}

.tree .tree-node[data-expandable="true"] {
	cursor: default;
}

.tree .tree-node:not(.focused):hover {
	background-color: var(--fill-tertiary);
}

.tree .tree-node.focused {
	color: white;
	background-color: var(--accent-blue);
}

.tree .tree-node.focused svg
{
	color: #FFFFFF;
}

.arrow svg {
	fill: currentColor;
	color: var(--fill-secondary);
	transition: transform 0.125s ease;
	width: 10px;
	transform: rotate(-90deg);
	vertical-align: middle;
	margin-top: -3px;
}

html[dir="rtl"] .arrow svg,
.arrow svg:dir(rtl),
.arrow svg:-moz-locale-dir(rtl) {
	transform: rotate(90deg);
}

.arrow.expanded svg {
	transform: rotate(0deg);
}

.tree-item-label {
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-left: 4px;
}

