<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Center for History and New Media</string>
	<key>Builder Version</key>
	<string>8536.8.5</string>
	<key>CFBundleDisplayName</key>
	<string>Zotero Connector</string>
	<key>CFBundleIdentifier</key>
	<string>org.zotero.zoteroconnectorforsafari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.3</string>
	<key>CFBundleVersion</key>
	<string>3.0.3</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>zotero-preferences</string>
				<key>Identifier</key>
				<string>zotero-preferences</string>
				<key>Title</key>
				<string>Zotero Preferences...</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popoverTranslatorSelector.html</string>
				<key>Identifier</key>
				<string>zotero-translatorSelector</string>
				<key>Height</key>
				<integer>200</integer>
				<key>Width</key>
				<integer>200</integer>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>zotero-button</string>
				<key>Identifier</key>
				<string>zotero-button</string>
				<key>Image</key>
				<string>images/toolbar/zotero-new-z-16px.png</string>
				<key>Label</key>
				<string>Save to Zotero</string>
				<key>Palette Label</key>
				<string>Zotero</string>
				<key>Popover</key>
				<string>zotero-translatorSelector</string>
				<key>Tool Tip</key>
				<string>Save to Zotero</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<!--SCRIPTS-->
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Saves references to Zotero from Safari</string>
	<key>DeveloperIdentifier</key>
	<string>8LAYR367YV</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update From Gallery</key>
	<true/>
	<key>Update Manifest URL</key>
	<string>https://www.zotero.org/download/connector/safari/update.plist</string>
	<key>Website</key>
	<string>https://www.zotero.org/</string>
</dict>
</plist>
