body {
	font-family: Lucida Grande, Arial;
	font-size: 10pt;
}

#label {
	position: absolute;
	top: 2pt;
	left: 2pt;
	right: 2pt;
	height: 19pt;
}

#item-selector {
	position: absolute;
	top: 19pt;
	left: 2pt;
	right: 2pt;
	bottom: 32pt;
	overflow: auto;
	border: 1pt solid black;
}

#buttons {
	position: absolute;
	bottom: 7pt;
	left: 2pt;
	right: 2pt;
}

#item-selector input {
	vertical-align: middle;
	margin: 1pt 2.5pt 3pt 0;
}

.item {
	font-size: 8pt;
	padding-top: 2pt;
	min-height: 11pt;
	line-height: 11pt;
	white-space: nowrap;
}

#select-deselect {
	text-align: left;
	float: left;
}

#cancel-ok {
	text-align: right;
}