body {
	font-family: Lucida Grande, Arial;
	font-size: 12pt;
}

#label {
	position: absolute;
	top: 3pt;
	left: 3pt;
	right: 3pt;
	height: 25pt;
}

#item-selector {
	position: absolute;
	top: 25pt;
	left: 3pt;
	right: 3pt;
	bottom: 43pt;
	overflow: scroll;
	border: 1pt solid black;
}

#buttons {
	position: absolute;
	bottom: 9pt;
	left: 3pt;
	right: 3pt;
}

#item-selector input {
	vertical-align: middle;
	margin-right: 4pt;
}

.item {
	min-height: 19pt;
	white-space: nowrap;
}

.item-description {
	font-size: 10pt;
	padding-top: 3pt;
	white-space: nowrap;
}

#select-deselect {
	text-align: left;
	float: left;
}

#cancel-ok {
	text-align: right;
}