body {
	font-family: Lucida Grande, Arial;
	font-size: 12px;
}

#label {
	position: absolute;
	top: 3px;
	left: 3px;
	right: 3px;
	height: 25px;
}

#item-selector {
	position: absolute;
	top: 25px;
	left: 3px;
	right: 3px;
	bottom: 43px;
	overflow: scroll;
	border: 1px solid black;
}

#buttons {
	position: absolute;
	bottom: 9px;
	left: 3px;
	right: 3px;
}

#item-selector input {
	vertical-align: middle;
	margin-right: 4px;
}

.item {
	min-height: 19px;
	white-space: nowrap;
}

.item-description {
	font-size: 10px;
	padding-top: 3px;
	white-space: nowrap;
}

#select-deselect {
	text-align: left;
	float: left;
}

#cancel-ok {
	text-align: right;
}